@model IEnumerable<Authorasation.Models.tbl_Department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Depid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Depid)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Did }) |
            @Html.ActionLink("Details", "Details", new { id=item.Did }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Did })*@
        </td>
    </tr>
}

</table>
